/* font-family: "Roboto", serif; */
/* font-family: "Raleway", serif; */
:root{
    --title-text-color: #212121;
    --hero-text-color: #ffffff; 
    --button-text-color: #ffffff;
    --text-color: #757575;
    --button-background-color: #2196F3;
    --hover-color: #2196F3;
    --accent-color: #2196F3;
    --studio-color: #000000;
    --background-color: #ffffff;
    --second-background-color: #2F303A;
    --teams-background-color: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);

}
body{
    font-family: "Roboto", serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15;
}
.logo{
    font-family: "Raleway", serif;
}
.header-container{
    margin-bottom: 32px;
    margin-top: 32px;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
}
.utilities{
    margin-bottom: 94px;
    margin-top: 94px;
}
.work{
padding-bottom: 94px;
}
.team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer-logo{
    font-family: "Raleway", serif;
}
.footer-container{
    padding-top: 126px;
    padding-bottom: 126px;
}
